.container{
    display: flex;
    top: 0;
   
    color: #e9c46a;
}

.img img{
    width: 600px;
    height: 100vh;
   

}

.form{
    width: 600px;
    height: 100vh;
    
   
    background-color: #264653;
}

.form h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
  
    
    
}

.form h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    
    
}

label,span{
    padding-left: 20px;
}

input,button{
    margin-left: 20px;
}